MSongsDB
wmf
src/string.txt
*.mp3
*.npy
data/*
tensorboard_summaries/events.out.tfevents.1544653803.Alexander-MacBook-Pro
*.Alexander-MacBook-Pro
*.pyc
tensorboard_summaries/.DS_Store
*.tar
*.pt
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
outcome.txt
embedding.py
src/__pycache__/hdf5_getters.cpython-37.pyc
src/__pycache__/hdf5_getters.cpython-36.pyc
src/__pycache__/get_preview_url.cpython-37.pyc
src/__pycache__/get_preview_url.cpython-36.pyc
runs/Jan31_22-56-53_Alexander-MacBook-Pro.localtsne_embedding/projector_config.pbtxt
runs/Jan31_22-56-53_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971813.Alexander-MacBook-Pro.local
runs/Jan31_22-56-53_Alexander-MacBook-Pro.localtsne_embedding/00000/default/tensors.tsv
runs/Jan31_22-56-53_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-56-53_Alexander-MacBook-Pro.localtsne_embedding/.DS_Store
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/projector_config.pbtxt
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971439.Alexander-MacBook-Pro.local
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00069/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00069/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00068/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00068/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00067/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00067/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00066/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00066/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00065/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00065/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00064/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00064/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00063/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00063/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00062/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00062/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00061/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00061/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00060/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00060/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00059/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00059/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00058/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00058/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00057/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00057/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00056/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00056/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00055/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00055/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00054/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00054/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00053/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00053/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00052/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00052/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00051/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00051/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00050/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00050/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00049/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00049/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00048/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00048/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00047/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00047/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00046/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00046/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00045/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00045/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00044/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00044/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00043/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00043/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00042/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00042/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00041/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00041/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00040/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00040/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00039/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00039/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00038/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00038/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00037/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00037/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00036/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00036/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00035/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00035/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00034/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00034/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00033/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00033/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00032/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00032/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00031/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00031/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00030/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00030/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00029/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00029/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00028/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00028/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00027/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00027/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00026/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00026/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00025/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00025/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00024/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00024/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00023/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00023/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00022/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00022/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00021/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00021/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00020/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00020/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00019/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00019/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00018/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00018/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00017/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00017/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00016/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00016/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00015/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00015/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00014/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00014/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00013/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00013/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00012/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00012/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00011/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00011/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00010/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00010/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00009/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00009/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00008/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00008/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00007/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00007/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00006/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00006/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00005/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00005/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00004/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00004/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00003/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00003/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00002/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00002/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00001/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00001/default/metadata.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00000/default/tensors.tsv
runs/Jan31_22-50-39_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-49-50_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971390.Alexander-MacBook-Pro.local
runs/Jan31_22-49-50_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-49-08_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971348.Alexander-MacBook-Pro.local
runs/Jan31_22-49-08_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-48-37_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971317.Alexander-MacBook-Pro.local
runs/Jan31_22-48-37_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-46-49_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971209.Alexander-MacBook-Pro.local
runs/Jan31_22-46-49_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-45-29_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971129.Alexander-MacBook-Pro.local
runs/Jan31_22-45-29_Alexander-MacBook-Pro.localtsne_embedding/00000/default/metadata.tsv
runs/Jan31_22-44-42_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971082.Alexander-MacBook-Pro.local
runs/Jan31_22-44-11_Alexander-MacBook-Pro.localtsne_embedding/events.out.tfevents.1548971051.Alexander-MacBook-Pro.local
runs/.DS_Store
.idea/workspace.xml
.DS_Store
*.nl
*.pyc
*.pyc
*.pyc
*.local
